@import "../../node_modules/antd/dist/antd.less";

:global {
  #header {
    transition: all 0.3s;
    background: #fff;
    box-shadow: 0 2px 8px rgba(240, 241, 242, 65);
    position: relative;
    z-index: 10;
    max-width: 100%;
  }


  .ant-layout-header{
    padding: 0 300px;
  }


  .ant-layout-footer {
    position: fixed;
    bottom: 0;
    left:0;
    right:0;
  }

  @media only screen and (max-width: 767.99px) {
    #header {
      text-align: center;
      #logo {
        float: initial;
      }
    }

    .main-container {
      padding-left: 16px;
      padding-right: 16px;
      margin-right: 0;
    }
  }

  }

